{% extends 'store/main.html' %}
{% load static %}
{% block content %}

<style>
    body {
        font-family: 'Arial', sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f9f9f9;
    }

    section {
        max-width: 1200px;
        margin: 20px auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    section h2 {
        color: #333;
        font-size: 28px;
        margin-bottom: 20px;
    }

    section p {
        color: #555;
        font-size: 16px;
        line-height: 1.5;
    }

</style>
<section>
    <h2>Bienvenido a OppositionUS</h2>
    <p></p>
    <p>Podrás encontrarnos en Calle Luis de Morales, 42, 41018 Sevilla, España</p>
    <img src="{% static 'images/OppositionUS.png' %}" alt="Logo US" style="display: block; margin: auto; width: 279px;">
    <p>
    Somos una empresa dedicada a proporcionar formación de calidad para la preparación de oposiciones. Nuestra misión es ayudar a nuestros clientes a alcanzar sus objetivos profesionales a través de una enseñanza especializada y personalizada.

    Con una amplia experiencia en el sector, trabajamos de la mano con el Centro de Oposiciones de Sevilla, una academia consolidada con un enfoque pedagógico innovador. Ofrecemos clases de alto nivel, diseñadas para cubrir todas las necesidades de los opositores, asegurando un proceso de aprendizaje eficaz y optimizado.

    Nuestro equipo de expertos se compromete a proporcionar el apoyo necesario a cada estudiante, brindando materiales didácticos de última generación y una formación integral. Ya sea que busques obtener tu plaza en la administración pública o prepararte para otros desafíos profesionales, en OppositionUs encontrarás el respaldo necesario para triunfar en tus oposiciones.

    Únete a nosotros y da el primer paso hacia tu futuro profesional.
    </p>
    <h5>Email de contacto: oppositionusoficial@gmail.com</h5>
    <h5>Teléfono de contacto: 927927927</h5>
</section>

{% endblock content %}
