{% extends 'store/main.html' %}
{% load static %}
{% block content %}
    <div class="container mt-5">
        <h2 class="mb-4">Estado del Pedido - {{ order.tracking_id }}</h2>
        <div class="row">
            <div class="col-md-6">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">Información del Pedido</h5>
                        <p class="card-text">Estado: <strong>{{ order.status}}</strong></p>
                        <p class="card-text">Fecha de Pedido: <strong>{{ order.date_ordered|date:"F d, Y H:i" }}</strong></p>
                    </div>
                </div>
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">Información de entrega</h5>
                        <p class="card-text">Dirección: <strong>{{ order.shipping_address.address}}</strong></p>
                        <p class="card-text">Ciudad: <strong> {{order.shipping_address.city}}</strong></p>
                        <p class="card-text">Comunidad autónoma: <strong>{{order.shipping_address.state}} </strong></p>
                        <p class="card-text">Código postal: <strong>{{order.shipping_address.zipcode}}</strong></p>
                        <p class="card-text">País: <strong>{{ order.shipping_address.country}}</strong></p>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">Cursos en el Pedido</h5>
                        <ul class="list-group">
                            {% for item in order_items %}
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-md-3">
                                            {% if item.course.image %}
                                                <img src="{{ item.course.image.url }}" alt="{{ item.course.name }}" class="img-fluid">
                                            {% else %}
                                                <img src="{% static 'images/placeholder.png' %}" alt="Placeholder" class="img-fluid">
                                            {% endif %}
                                        </div>
                                        <div class="col-md-9">
                                                <p><strong>{{ item.course.name }}</strong> | {{item.course.name}}</p>
                                                <p>Cantidad: {{ item.quantity }} x {{ item.course.price|floatformat:2 }}€</p> 
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                        <p id='total' class="mt-3">Costo Total del Pedido: <strong>{{ total_cost|floatformat:2 }}€</strong></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
       window.onload = function () {

        var  totalInicial = "{{ order.get_cart_total|floatformat:2 }}";
        var totalInicial = totalInicial.replace(',', '.');
        var quantity = parseFloat(totalInicial);
        var shipping = 20.00; // Coste de envío fijo si el total es menor a 100 euros
        var costoTotal = document.getElementById("total");
        let modifiedTotal;
        if (quantity < 100.00) {
            modifiedTotal = (quantity + shipping).toFixed(2); // Asegura dos decimales
            
            // Reemplaza el punto por coma para el formato adecuado
            modifiedTotal = modifiedTotal.replace('.', ',');
            costoTotal.innerHTML = "Costo Total del Pedido:   <strong>" + modifiedTotal + "€</strong>";
        } else {
            modifiedTotal = quantity.toFixed(2); // Asegura dos decimales
            
            // Reemplaza el punto por coma para el formato adecuado
            modifiedTotal = modifiedTotal.replace('.', ',');
            
            costoTotal.innerHTML = "Costo Total del Pedido:   <strong>" + quantity + "€</strong>";
        }

    };
        
    </script>
{% endblock content %}
